.header{
    background-color: #074775;
    color: #fff;
    position: absolute;
    left: 0;
    width: 100%;
    height: 3rem;
    text-align: left;
    line-height: 3rem;
}

#logo{
    height: 2.5rem;
    margin: 0.25rem;
    margin-left: 0.5rem;
}