#login-form{
    height: 80%;
    margin: 11rem auto;
    padding: 0.5rem;
    align-self: center;
    width: 90%;
}

#login-form > *{
    display: flex;
    margin: auto;
    margin-bottom: 0.5rem;
}