#timetable{
    width: 100%;
    margin-top: 1rem;
}

.weekDay{
    border: 0.1rem solid black;
}

.class{
    width: 100%;
    min-height: 2rem;
    height: fit-content;
    border-top: 0.1rem solid black;
    position: relative;
    text-align: center;
    line-height: 2rem;
}

.secondHalf{
    width: 50%;
    height: 100%;
    border-left: 0.1rem solid black;
    position: absolute;
    right: 0;
}

.firstHalf{
    width: 50%;
    height: 100%;
    border-right: 0.1rem solid black;
    position: absolute;
    left: -0.1rem;
}

#textField{
    margin-top: 0.5rem;
}